body {
  background-color: rgb(9, 29, 57);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 5px;
  height: 100vh;

  .container {
    display: flex;
    height: 200px;
    background: #eee;
    justify-content: center; /* căn ngang */
    align-items: center; /* căn dọc */

    .item {
      width: 60px;
      height: 60px;
      background: #4fa3ff;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      border-radius: 6px;
    }
  }

  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch; /* dàn hàng giữa theo trục dọc */
    height: 300px;
    background: #f1f1f1;

    .box {
      width: 100px;
      height: 80px;
      background: #0099ff;
      margin: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  }

  .ex1-container {
    height: 400px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .ex2-container {
    display: flex;
    flex-wrap: wrap; /* cho phép xuống dòng */
    justify-content: center; /* căn giữa ngang các item */
    align-items: baseline; /* căn giữa các dòng theo trục dọc */
    height: 400px; /* container cao để dễ quan sát */
    background: #f0f0f0;
    padding: 10px;
    gap: 10px;

    .item {
      width: 100px;
      height: 100px;
      background: #007bff;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      font-family: sans-serif;
      font-weight: bold;
    }
  }

  .ex3-container {
    h2 {
      color: #0099ff;
    }
    .container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start; /* thử lần lượt flex-start, center, flex-end, stretch, baseline */
      height: 250px;
      background: #eee;
      font-family: sans-serif;
      gap: 5px;
    }

    .item {
      background: #00b4ff;
      color: white;
      width: 60px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
    }

    .tall {
      height: 100px;
    }
    .short {
      height: 40px;
    }
    .text {
      font-size: 20px;
    }
  }

  .ex4-container {
    h2 {
      margin: 30px 0 10px;
      color: #0099ff;
    }

    .container {
      display: flex;
      flex-wrap: wrap; /* Cho phép xuống dòng */
      justify-content: center;
      align-content: flex-start; /* Thay đổi giá trị ở đây */
      height: 400px;
      background: #eaeaea;
      gap: 10px;
      border: 2px dashed #ccc;
      padding: 10px;
    }

    .box {
      width: 80px;
      height: 80px;
      background: #007bff;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-radius: 6px;
    }
  }
}
