* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
  background-color: rgb(9, 29, 57);
  color: white;

  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  gap: 8px; */

  > * {
    padding: 16px;
    border: 2px solid rgb(127, 195, 44);
  }
}

.toolbar {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px 14px;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  .toolbar-info {
    font-size: 0.9rem;
    color: #d2dae5;
    margin-right: auto; /* đẩy phần còn lại sang bên phải */
  }

  .toolbar-actions {
    display: flex;
    gap: 8px;

    .btn {
      padding: 6px 10px;
      border-radius: 4px;
      border: 1px solid #d1d5db;
      background: #fff;
      cursor: pointer;
      font-size: 0.85rem;

      &:hover {
        background: #47ae63;
      }
    }
  }
}
