* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
  background-color: rgb(9, 29, 57);
  color: white;

  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  gap: 8px; */

  > * {
    padding: 16px;
    border: 2px solid rgb(127, 195, 44);
  }
}

.section {
  margin-bottom: 24px;

  h2 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .card {
    background: rgba(89, 224, 56, 0.603);
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 0.9rem;
  }

  /* FLEX VERSION */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .card {
      flex: 1 1 220px; /* min 220px, tự giãn */
    }
  }

  /* GRID VERSION */
  .grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
  }
}
